.bjo-ui {
    position: absolute;
    height: 80%;
    top: 2px;
    left: 2px;
    width: 99.5%;
    border: 1px solid #999;
}
.bjo-links {
    float: left;
}
.bjo-license {
    position: absolute;
    bottom: 10px;
    left: 0;
    height: 10%;
    width: 100%;
}

.popup { display: none; }

.bjo-ui .list-pane {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    overflow: scroll;
}

.dummy { background-color: #ccc; width: 100%; }
.dummy input { visibility: hidden; }

.lazy-table.viewport {
    position: relative;
    z-index: 3;
}
.lazy-table .cell {
    position: relative;
    float: left;
    display: block;
    overflow: hidden;
}

.lazy-table .cell.last {
    float: right;
}


.lazy-table .header.cell {
    z-index: 2;
    font-weight: bold;
    text-align: center;
    border: 1px solid #999;
    background-color: #333;
    color: #fff;
}

.lazy-table .body.cell {
    border: 1px solid #aaa;
}

.lazy-table .body.cell.even {
    background-color: #fff;
}
.lazy-table .body.cell.odd {
    background-color: #ccc;
}

.lazy-table .body.cell input.edit {
    width: 100%;
    height: 100%;
}

.lazy-table .body.cell .number {
    text-align: right;
}
