.ackrc
.backup
/test*.js
.*.sw?
*~
/node_modules
*.log
.vim*
test.db
*.bak
tags
COMMANDS
.ctags
*-journal
js/client.bundle.js
doc/html
config/
js/node_modules/web/client/models.js
js/node_modules/web/client/sgui.js
webroot/js/models.js
webroot/js/sgui.js
